<link href="/public/css/style.css" rel="stylesheet" type="text/css">

<header>Mock Server</header>
<div id="vl"></div>
<div id='logform'>
    <form id="login" method="POST" action="/login">
        <header>LOGIN</header>
        <input class="data" type="text" name="name" placeholder="Username"><br>
        <input class="data" type="password" name="password" placeholder="Password"><br>
        <input type="submit" value="LOGIN" class="bttn">
        <div id="signup">Not a member? <a href="/signup">Sign-up</a> now</div>
        <div id="msg">
            <%if (msg !='') { %>
                <%=msg%>
            <% }%>
        </div>
    </form>
</div>
<img src="../public/img/login.png">