<link href="/public/css/style.css" rel="stylesheet" type="text/css">

<header>Powerpoint Presentation</header>
<div id="vl"></div>
<div id='register'>
    <form id="signup" method="POST" action="/signup">
        <header>SIGN-UP</header>
        <input class="data" type="text" name="name" placeholder="Username"><br>
        <input class="data" type="email" name="email" placeholder="Email"><br>
        <input class="data" type="password" name="password" placeholder="Password"><br>
        <input type="submit" value="SIGN-UP" class="bttn">
        <div id="signup">Already have an account? <a href="/login">Login</a></div>
        <div id="msg">
            <%if (msg !='') { %>
                <%=msg%>
            <% }%>
        </div>
    </form>
</div>