@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
body{
    height: 100%;
    margin: 0;
    background-image:  linear-gradient(to top right,rgb(22, 22, 211),rgb(93,93,241),rgb(134, 3, 134));
}
form{
    background-color: rgba(236, 236, 218,0.5);
    position: absolute;
    padding: 35px;
    border-radius: 10px;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%); 
} 
.data{
    margin: 20px;
}
.bttn{
    border: 0;
    background-image: linear-gradient(to top right,#ff304f,#118df0 );
    font-weight: bolder;
    padding: 15px;
    color: black;
}
header{
    font-size: 65px;
    padding-bottom: 20px;
    font-family: 'Concert One',cursive;
    color: #ececda;
    text-align: center;
}
#msg{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#vl {
    border-left: 2px solid white;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 25%;
  }
img{
    transform: translate(50%, 30%); 
}